*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.nav {
    display: flex;
    Height: 80px;
    background-color: #B2B2B2;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}

.login-btn {
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    color: black;
    font-size: 16px;
    padding: 16px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    margin-top: 50px;
}

.login-btn:hover {
    background-color: black;
    color: #EAEAEA;
}

.link {
    text-decoration: none;
    color: black;
}


.site-title-link {
    font-weight: bold;
    font-size: 200%;
}

.services {
    display: flex;
    justify-content: space-between;
    width: 20%;
}
